<html>
  <head>
    <title>@tanaykumarbera, Tanay's twitter feed</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="robots" content="noindex" />
    <style type="text/css">{{{ style }}}</style>
  </head>
  <body>
    <a class="twitter-timeline tb-twitter-placeholder"  data-vars-outbound-link="{{ config.site.twitter }}" data-height="600px" href="{{ config.site.twitter }}"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
